  .avatar {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    }

    .blog-sidebar a {
      color: white;
    }

    .blog-sidebar a:hover {
      text-decoration: none;
      color: #17b06b;
    }
#menu-social a{
  font-size: 2em;
}

.blog-footer{
  padding-top: 1em;
  padding-bottom: 1em;
}

.display-2{
  text-transform: lowercase;
}